services:
  app:
    container_name: app
    build:
      context: ../../nextjs-app
      dockerfile: Dockerfile
    depends_on:
        - postgres_db
    ports:
      - "3000:3000"
    networks:
      - post-network
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PGUSER=postgres
      - PGPASSWORD=postgres
      - PGHOST=postgres_db
      - PGPORT=5432
      - PGDATABASE=posts
  postgres_db:
    container_name: postgres-db
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /data/postgres
      POSTGRES_DB: posts
    volumes:
      - db:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - post-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5
networks:
  post-network:
    driver: bridge

volumes:
  db: